

body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
}



.header {
    background-color: #333; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold; 
}

.header p {
    margin: 10px 0 0;
    font-size: 16px; 
    opacity: 0.8; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
}

.box-in {
    width: calc(33.33% - 20px);
    margin-right: 10px;
    display: inline-block;
    vertical-align: top; 
}

.box-int {
    width: calc(50% - 20px); 
    margin-right: 10px;
    display: inline-block; 
    vertical-align: top;
}

.box-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 10px;
}

.info-item {
    margin-bottom: 10px;
}

.info-item strong {
    color: #ffffff; 
}

.info-item span {
    color: #cccccc;
}

.country-flag {
    max-width: 100px; /* Adjust the maximum width of the flag as needed */
    max-height: 100px; /* Adjust the maximum height of the flag as needed */
    border: 1px solid #ccc; /* Optional: Add a border around the flag */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
}
#country-name {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold; /* Optional: Add bold font weight */
    color: white; /* Optional: Set the color of the text */
    margin-bottom: 30px; /* Optional: Add margin to create space */
    text-align: center;
}

.domain-logo {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
    display: block; /* Ensure the image is a block element */
    margin-left: auto; /* Auto margin on left */
    margin-right: auto; /* Auto margin on right */
    padding: 50px;
}
